@tailwind base;
@tailwind components;
@tailwind utilities;

/* This targets the body element directly */
html {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

